<a href="https://colab.research.google.com/github/agustiadwi1410/PSDS-3.0/blob/main/M2P2V3_Konversi_Struktur_Data(Dwi_Agustia_PSDS_Kelas_Dasar).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DWI AGUSTIA**

**NIM : 2000015016**

**PSDS KELAS DASAR**

#Konversi Struktur Data

Fungsi yang mengubah atau mengkonversi struktur data :

a. ```list()``` : Untuk mengubah menjadi List

b. ```tuple()``` : Untuk mengubah menjadi tuple

c. ```set()``` : Untuk mengubah menjadi set

d. ```dict()``` : Untuk mengubah menjadi dictionary

#Mengkonversi Tipe data list :

In [ ]:
#Membuat 2 List
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [ ]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

#Mengkonversi Tipe Data Tuple

In [ ]:
#Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [ ]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

#Mengkonversi Tipe data Set

In [ ]:
#Membuat dua set
S1 = (1, 2, 3, 4)
S2 = (5, 6, 7, 8)

In [ ]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(5, 6, 7, 8)
{1: 5, 2: 6, 3: 7, 4: 8}

#Mengkonversi Tipe Data List

In [ ]:
#Membuat Dictionary
D = {
    "nama": "Andi",
    "alamat": "Yogyakarta",
    "umur": 20
}

In [ ]:
# Mengkonversi Struktur data Dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'umur', 'alamat', 'nama'}

##Latihan

In [ ]:
#Lakukan konversi struktur data yang kalian buat pada notebook notebook
#sebelumnya menjadi list, tuple, set dan dictionary (masing masingm satu)

###Mengkonversi Tipe Data List

In [ ]:
#Membuat list
D1 = [2, 3, 5, 7]
D2 = [1, 3, 5, 7]

#Mengkonversi struktur data list
k_tuple = tuple(D1)
k_set = set(D2)
k_dict = dict(zip(D1, D2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(2, 3, 5, 7)
{1, 3, 5, 7}
{2: 1, 3: 3, 5: 5, 7: 7}

##Mengkonversi Tipe Data Tuple

In [ ]:
#Membuat Tuple
A1 = [2, 3, 5, 7]
A2 = [1, 3, 5, 7]

#Mengkonversi struktur data Tuple
k_tuple = tuple(A1)
k_set = set(A2)
k_dict = dict(zip(A1, A2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(2, 3, 5, 7)
{1, 3, 5, 7}
{2: 1, 3: 3, 5: 5, 7: 7}

##Mengkonversi Tipe Data Set

In [ ]:
#Membuat Set
D1 = [2, 3, 5, 7]
D2 = [1, 3, 5, 7]

#Mengkonversi struktur data Set
k_tuple = tuple(D1)
k_set = set(D2)
k_dict = dict(zip(D1, D2))

#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(2, 3, 5, 7)
{1, 3, 5, 7}
{2: 1, 3: 3, 5: 5, 7: 7}

##Mengkonversi Tipe Data Dictionary

In [ ]:
#Membuat Dictionary
A = {
    "nama": "Alam",
    "alamat": "Sumsel",
    "umur": 20
}

In [ ]:
#Mengkonversi Struktur data Dictionary dari key dan value-nya
k_list = list(A.keys())
k_tuple = tuple(A.values())
k_set = set(A.keys())

#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Alam', 'Sumsel', 20)
{'alamat', 'nama', 'umur'}